.wpmessagebutton-settings-content {
	width: 70%;
	float: left;
}

.wpmessagebutton-settings-sidebar {
	width: 25%;
	float: right;
}

#agents .agent h2 {
	position: relative;
	padding-left: 50px;
}

#agents .agent h2:before {
	content: "\f156";
	position: absolute;
	left: 20px;
	font-family: dashicons;
	height: 46px;
	top: 0;
	color: #ccd0d4;
	text-align: center;
	line-height: 46px;
	font-size: 20px;
	cursor: grab;
}

#agents .agent h2 input[type="text"] {
	min-width: 160px;
	max-width: 70%;
	border: none;
}

#agents .agent__photo {
	text-align: center;
}

#agents .agent__photo img {
	max-width: 100%;
	display: inline-block;
	border-radius: 100%;
}

#agents .agent__photo a {
	display: block;
}

#agents .agent__delete {
	float: right;
	font-weight: 400;
	line-height: 30px;
	color: #a00;
	margin-right: 5px;
	font-size: 12px;
	cursor: pointer;
}

#agents .agent__delete:hover {
	color: #dc3232;
}

#agents .agent .inside>div {
	display: none;
	border-top: 1px solid #eee;
	padding: 10px 20px;
}

/* Sidebar ad */
.wpmessagebutton-ads {
	padding: 30px;
	background: #9b59b6;
	color: #fff;
	font-size: 16px;
	letter-spacing: 0.2px;
	border-radius: 4px;
}

.wpmessagebutton-ads p {
	font-size: 15px;
}

.wpmessagebutton-ads__title {
	margin: 0;
	font-weight: bold;
	font-size: 20px;
}

.wpmessagebutton-ads__list {
	margin: 40px 0;
}

.wpmessagebutton-ads__list li {
	position: relative;
	padding-left: 55px;
	margin-bottom: 30px;
}

.wpmessagebutton-ads__list li span {
	position: absolute;
	left: 5px;
	width: 40px;
	height: 40px;
	top: 50%;
	margin-top: -20px;
	font-size: 32px;
	line-height: 40px;
}

.wpmessagebutton-ads__cta {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
}

.wpmessagebutton-ads__cta span {
	display: block;
	text-align: center;
	border-top: 1px solid #fff;
	padding-top: 10px;
	font-size: 18px;
	width: 50%;
	margin: 20px auto 0;
}

.wpmessagebutton-ads__cta>a {
	font-size: 28px;
	display: block;
	background: #2ecc71;
	color: #fff;
	text-decoration: none;
	padding: 20px 0;
	margin-top: 30px;
	border-radius: 4px;
	transition: all 0.5s;
	line-height: 1.2em;
}

.wpmessagebutton-ads__cta>a:hover {
	background: #27ae60;
}

/* Field */
.wpmb-field {
	margin-bottom: 20px;
}

.wpmb-field>label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

.wpmb-field p.description {
	font-size: 12px;
}

.wpmb-field input[type="text"],
.wpmb-field textarea {
	display: block;
	width: 100%;
}

.wpmb-form input[type="text"].error,
.wpmb-form textarea.error,
.wpmb-form input[type="radio"].error+label {
	border: 1px solid #dc3232 !important;
	box-shadow: none;
	background: #f2dede;
}

.wpmb-disabled {
	opacity: 0.3;
}

.wpmb-form .noth>th {
	display: none;
}

/* Custom radio field */
.wpmb-radio {
	display: block;
	margin-bottom: 10px;
}

.wpmb-radio input[type="radio"] {
	position: absolute;
	left: -99999px;
}

.wpmb-radio>label {
	position: relative;
	display: block;
	padding: 10px;
	border: 1px dashed #ccd0d4;
	font-weight: bold;
	text-align: center;
	transition: all 0.4s;
}

.wpmb-radio>label:hover,
.wpmb-radio input[type="radio"]:checked+label {
	background: #208CEB;
	color: #fff;
	border: 1px solid #208ceb;
}

.wpmb-radio>label:hover:before,
.wpmb-radio input[type="radio"]:checked+label:before {
	content: "\f12a";
	font-family: dashicons;
	position: absolute;
	left: 10px;
	color: #fff;
	font-size: 20px;
	line-height: 40px;
	top: 0;
}

/* Radio Icons */
.wpmb-radio.wpmb-radio--icon {
	width: 50px; 
	height: 50px;
	display: inline-block;
}
.wpmb-radio.wpmb-radio--icon label svg {
	max-width: 30px;
	height: 30px;
	color: #000;
	fill: #000;
}

.wpmb-radio.wpmb-radio--icon input[type="radio"]:checked+label svg,
.wpmb-radio.wpmb-radio--icon input[type="radio"]:checked+label svg * {
	color: #fff;
	fill: #fff;
}

.wpmb-radio.wpmb-radio--icon>label:hover:before,
.wpmb-radio.wpmb-radio--icon input[type="radio"]:checked+label:before {
	display: none;
}

/* Range fields */
.wpmb-field-timerange {
	position: relative;
	border: 1px solid #7e8993;
	border-radius: 4px;
}

.wpmb-field-timerange:before {
	content: "to";
	position: absolute;
	width: 20px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	left: 50%;
	top: 0;
	margin-left: -10px;
	background: #fff;
}

.wpmb-field-timerange input[type="text"] {
	width: 50%;
	float: left;
	margin: 0;
	border: none;
	border-radius: 0;
	text-align: center;
}

.wpmb-field-timerange input[type="text"]:focus {
	outline: none;
	box-shadow: none;
}

.wpmb-tab-customizer table.form-table {
	max-width: 600px;
}

/* Grid */
.wpmb-row {
	margin-left: -15px;
	margin-right: -15px;
}

.wpmb-row,
.wpmb-row * {
	box-sizing: border-box;
}

.wpmb-row:after {
	content: "";
	display: table;
	clear: both;
}

[class^="wpmb-col-"] {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.wpmb-row.wpmb-row-narrow {
	margin-left: -5px;
	margin-right: -5px;
}

.wpmb-row.wpmb-row-narrow [class^="wpmb-col-"] {
	padding-left: 5px;
	padding-right: 5px;
}

.wpmb-col-12 {
	width: 100%;
}

.wpmb-col-9 {
	width: 75%;
}

.wpmb-col-8 {
	width: 66.6666%;
}

.wpmb-col-6 {
	width: 50%;
}

.wpmb-col-4 {
	width: 33.333%;
}

.wpmb-col-3 {
	width: 25%;
}